body {
    font-family: 'Roboto', sans-serif;
    color: #4E4E4E;
    background-color: #fff;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: normal;
    font-style: normal;
}
a {
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
button, input {
    border: none;
    outline: none;
    background: none;
}
h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-left: 18px;
    margin-right: -6px;
}
h2 {
    color: #373737;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
h3 {
    color: #373737;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    padding: 0;
    margin: 0;
    
}
ul, li, p, button, img  {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
strong {
    font-weight: 700;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
}
.bg-top {
    background-image: url(assets/bg-images/bg-image.png);
    height: 744px;
}
.default-btn {
    width: 184px;
    height: 46px;
    color: #fff;
    background-color: #00AFDB;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    padding: 15px 47px 15px 47px;

    cursor: pointer;
    text-transform: uppercase;
}
.default-btn:hover {
    width: 184px;
    height: 46px;
    color: #fff;
    background-color: #009CC2;
}

/* Header */

header {
    height: 95px;
}
.nav-menu_items {
    display: flex;
    justify-content: center; 
    /* text-align: center; */
    
}
.nav-menu__item {
    padding-top: 38px;
}
.nav-menu__logo{
    padding-top: 25px;
    padding-right: 10px;
}
.nav-menu li + li:not(.logo__link) {
    padding-left: 85px;
}
.logo__link {
    padding: 0 12px;
}
.nav-menu__link {
    /* padding-bottom: 2px; */
    opacity: 0.8;
}
.nav-menu__link:hover {
    opacity: 1;
}
.link__active {
    text-decoration: underline;
    opacity: 1; 
}

/* Your life */

.your-life {
    text-align: center;
    color: #fff;
}
.your-life__title {
    margin-top: 136px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    padding-left: 0px;
}
.your-life__text {
    margin-top: 23px;
    font-size: 18px;
    line-height: 140%;
}
.your-life__btn {
    position: relative;
    top: 42px;
}
.your-life__smm-items {
    display: flex;
    justify-content: center;
    margin-top: 238px;
}
.your-life__smm-items li + li {
    padding-left: 30px;
}

/* rappresent */

.rappresent {
    height: 842px;
    display: flex;
    justify-content: space-evenly;
    color: #4E4E4E;
}
.rappresent-left {
    margin: 2px 0px 0px 14px;
}
.rappresent-info {
    padding-top: 294px;
    max-width: 407px;
    height: 233px;
}

.rappresent-right__img {
    padding-top: 120px;
    width: 407px;
    height: 582px;
    position: relative;
    right: 5px;
}
.rappresent-info__text {
    margin-top: 21px;
    line-height: 143%;

}
.rappresent-right {
    padding-right: 10px;
}
.rappresent-btn{
    top: 44px;
    position: relative;
}
/* our community */

 .our-community{
    height: 504px;
    display: flex;
    background-color: #F5F6F7;
    overflow: hidden;
}
.our-community__user {
    text-align: center;
    min-width: 298px;
    height: 175px;
    padding: 155px 0px 0px 271px;
}
.our-community__user-img {
    width: 45px;
    height: 45px;
}
.our-community__user-title {
    padding-top: 16px;
}
.our-community__text-box {
    max-width: 298px;
}
.our-community__user-text {
    padding: 10px 2px 0px 0px;
    line-height: 143%;
}
.our-community__slider {
    margin: -4px 0px 0px 137px;

}
.our-community__slider-switch {
    display: flex;
    font-size: 18px;
    line-height: 140%;

    padding: 82px 0px 20px 544px;
}
.slider-counter {
    display: flex;
    padding: 0px 6px;
    color: #373737;
}
.slider-counter li {
    color: #373737;
    letter-spacing: 2px;
    padding-left: 3px;
}
.slider-arrow {
    cursor: pointer;
}
.slider-arrow:hover {
    opacity: 0.5;
}
.our-community__slider-items {
    display: flex;
}

.our-community__slider-items li + li {
    padding-left: 30px;
}
.slider-item {
    margin-top: -2px;
}
/* implement */
.implement {
    display: flex;
    height: 842px;
    /* TODO убрать jc se или паддинги */
    justify-content: space-evenly;
}
.implement-left {
    padding: 120px 139px 140px 269px;
}
.implement-left__img {
    width: 407px;
    height: 582px;
}
/* TODO изменить ширину на min-width и изменить боковые падинги */
.implement-rigth {
    padding: 319px 378px 339px 0px;
    width: 407px;
    height: 184px;
}
.implement-rigth__text {
    padding-top: 20px;
    line-height: 143%;
}
.implement-btn {
    position: relative;
    top: 44px;
}
/* subscribe */

.subscribe {
    background-image: url(assets/bg-images/bg-image2.png);

    text-align: center;
    height: 524px;
}
.subscribe-title {
    color: #fff;
    padding: 200px 0px 30px;
}
.subscribe-form {
    display: flex;
    justify-content: center;
}
.subscribe-input {
    width: 292px;
    height: 20px;
    background-color: #fff;
    padding: 14px 24px 12px;

    font-size: 14px;
    line-height: 140%;
    color: #373737;
}
.subscribe input::-webkit-input-placeholder{
    font-size: 14px;
    line-height: 140%;
    color: #373737;
}
.subscribe input::-moz-placeholder{
    font-size: 14px;
    line-height: 140%;
    color: #373737;
}
.email-btn {
    width: 66px;
    height: 46px;
    background-color: #00AFDB;
    color: #fff;
    cursor: pointer;
}
.email-btn:hover {
    background-color: #009CC2;
}

/* download */

.download {
    height: 464px;
    text-align: center;
    background-color: #F5F6F7;
}
.download-title {
    padding-top: 120px;
}
.download-text {
    padding: 20px 0px 30px;
}
.download-mobile {
    display: flex;
    justify-content: center;
}
.download-mobile__link + .download-mobile__link {
    margin-left: 30px;
}
.download-mobile__link {
    margin-top: 2px;
    background:#00AFDB;
    width: 188px;
    height: 50px;
    padding: 0;
}
.download-mobile__link:hover {
    background-color: #009CC2;
}
.download-mobile__name {
    width: 128px;
    padding-top: 18px;
}
.icon-box {
    width: 60px;
    background-color: #009CC2;
    height: 100%;
    
    position: relative;
    bottom: 37px;
    left: 128px;
}
.mobile-icon__apple {
    width: 17px;
    height: 20px;
    padding-top: 15px;
}
.mobile-icon__android {
    width: 19px;
    height: 22.06px;
    padding-top: 13px;
}

/* footer */

.footer {
    height: 184px;
    background: #000000;
}
.footer-nav {
    display: flex;
    justify-content: space-between;
}
.footer-items {
    display: flex;
    padding: 74px 0px 91px 160px;
}
.footer-item {
    padding: 0px 20px 0px 22px;
    /* padding: 0px 20px;
    border-left: 1px solid #4E4E4E;
    border-right: 1px solid #4E4E4E; */
}
#footer-item__first {
    padding-right: 20px;
}
#footer-item__last {
    padding-left: 19px;
}
.footer-link:hover {
    text-decoration: underline;
}
.footer-logo {
    margin: 60px 0px 70px 0px;
}
.footer-logo img {
    margin-right: 64px;
}
.footer-author {
    color:  #818181;
    margin: 73px 160px 91px 0px;
}
.footer-author:hover {
    color: #fff;
}
/* .footer-border-first {
    position: absolute;
}
.footer-border-second {
    position: absolute;
} */